#main{
	display: flex;
	justify-content: space-between;
}
#dropdown{
	display: none;
}

#quorum{
	font-size: 45pt;
	color: green;
}

#outofroom{
	font-size: 20pt;
}

#outofroom span{
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
}